<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.shijijingying.dao.ShipAddressDao">
  <resultMap id="BaseResultMap" type="com.py.shijijingying.entity.ShipAddress">
    <id column="ship_id" jdbcType="INTEGER" property="shipId" />
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="ship_person" jdbcType="VARCHAR" property="shipPerson" />
    <result column="ship_phone" jdbcType="VARCHAR" property="shipPhone" />
    <result column="ship_address" jdbcType="VARCHAR" property="shipAddress" />
    <result column="ship_type" jdbcType="VARCHAR" property="shipType" />
  </resultMap>
  <sql id="Base_Column_List">
    ship_id,ship_person,ship_phone,ship_address,ship_type,user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ship_address
    where ship_id = #{shipId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ship_address
    where ship_id = #{shipId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="tradingRecordId" parameterType="com.py.shijijingying.entity.ShipAddress">
    insert into ship_address (ship_id,ship_person,ship_phone,ship_address,ship_type,user_id)
    values (#{shipId,jdbcType=INTEGER},
                #{userId,jdbcType=INTEGER},
               #{shipPerson,jdbcType=VARCHAR}, 
               #{shipPhone,jdbcType=VARCHAR}, 
               #{shipAddress,jdbcType=VARCHAR}, 
               #{shipType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="tradingRecordId" parameterType="com.py.shijijingying.entity.ShipAddress">
    insert into ship_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shipId != null">
        ship_id,
      </if>
      <if test="shipPerson != null">
        ship_person,
      </if>
      <if test="shipPhone != null">
        ship_phone,
      </if>
      <if test="shipAddress != null">
        ship_address,
      </if>
      <if test="shipType != null">
        ship_type,
      </if>
      <if test="userId != null">
        user_id
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shipId != null">
        #{shipId,jdbcType=INTEGER},
      </if>
      <if test="shipPerson != null">
        #{shipPerson,jdbcType=VARCHAR},
      </if>
      <if test="shipPhone != null">
        #{shipPhone,jdbcType=VARCHAR},
      </if>
      <if test="shipAddress != null">
        #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="shipType != null">
        #{shipType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.shijijingying.entity.ShipAddress">
    update ship_address
    <set>
      <if test="shipId != null">
        ship_id = #{shipId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="shipPerson != null">
        ship_person = #{shipPerson,jdbcType=VARCHAR},
      </if>
      <if test="shipPhone != null">
        ship_phone = #{shipPhone,jdbcType=VARCHAR},
      </if>
      <if test="shipAddress != null">
        ship_address = #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="shipType != null">
        ship_type = #{shipType,jdbcType=VARCHAR},
      </if>
    </set>
    where ship_id = #{shipId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.shijijingying.entity.ShipAddress">
    update ship_address
    set ship_id = #{shipId,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER},
      ship_person = #{shipPerson,jdbcType=VARCHAR},
      ship_phone = #{shipPhone,jdbcType=VARCHAR},
      ship_address = #{shipAddress,jdbcType=VARCHAR},
      ship_type = #{shipType,jdbcType=VARCHAR}
    where ship_id = #{shipId,jdbcType=INTEGER}
  </update>
   <select id="selectByExample" parameterType="com.py.shijijingying.entity.ShipAddress" resultMap="BaseResultMap">
    select
  	<include refid="Base_Column_List" />
    from ship_address
    where 1=1
    	<if test="shipId != null">
      		and ship_id = #{shipId,jdbcType=INTEGER}
     	</if>
     	<if test="userId != null">
      		and user_id = #{userId,jdbcType=INTEGER}
     	</if>
   		<if test="shipPerson != null">
      		and ship_person = #{shipPerson,jdbcType=VARCHAR}
     	</if>
     	<if test="shipPhone != null">
       		and ship_phone = #{shipPhone,jdbcType=VARCHAR}
     	</if>
     	<if test="shipAddress != null">
       		and ship_address = #{shipAddress,jdbcType=VARCHAR}
     	</if>
     	<if test="shipType != null">
       		and ship_type = #{shipType,jdbcType=VARCHAR}
     	</if>
      order by ship_id desc
  </select>
  
</mapper>