<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.shijijingying.dao.VoucherDao">
  <resultMap id="BaseResultMap" type="com.py.shijijingying.entity.Voucher">
    <id column="voucher_id" jdbcType="INTEGER" property="voucherId" />
    <result column="voucher_name" jdbcType="VARCHAR" property="voucherName" />
    <result column="voucher_par" jdbcType="INTEGER" property="voucherPar" />
    <result column="voucher_more" jdbcType="VARCHAR" property="voucherMore" />
    <result column="voucher_time" jdbcType="VARCHAR" property="voucherTime" />
    <result column="voucher_create_time" jdbcType="VARCHAR" property="voucherCreateTime" />
    <result column="voucher_expiry" jdbcType="VARCHAR" property="voucherExpiry" />
    <result column="voucher_use" jdbcType="VARCHAR" property="voucherUse" />
    <result column="voucher_type" jdbcType="VARCHAR" property="voucherType" />
     <result column="present" jdbcType="VARCHAR" property="present" />
      <result column="integration" jdbcType="INTEGER" property="integration" />
  </resultMap>
  <sql id="Base_Column_List">
    voucher_id,voucher_name,voucher_par,voucher_more,voucher_time,voucher_create_time,voucher_expiry,voucher_use,voucher_type,present,integration
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from voucher
    where voucher_id = #{voucherId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from voucher
    where voucher_id = #{voucherId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="tradingRecordId" parameterType="com.py.shijijingying.entity.Voucher">
    insert into voucher (voucher_id,voucher_name,voucher_par,voucher_more,voucher_time,voucher_create_time,voucher_expiry,voucher_use,voucher_type,present,integration)
    values (#{voucherId,jdbcType=INTEGER},
               #{voucherName,jdbcType=VARCHAR}, 
               #{voucherPar,jdbcType=INTEGER}, 
               #{voucherMore,jdbcType=VARCHAR},
               #{voucherTime,jdbcType=VARCHAR},
               #{voucherCreateTime,jdbcType=VARCHAR},
               #{voucherExpiry,jdbcType=VARCHAR},
               #{voucherUse,jdbcType=VARCHAR},
               #{voucherType,jdbcType=VARCHAR},
                #{present,jdbcType=VARCHAR},
                 #{integration,jdbcType=INTEGER}
               )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="tradingRecordId" parameterType="com.py.shijijingying.entity.Voucher">
    insert into voucher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="voucherId != null">
        voucher_id,
      </if>
      <if test="voucherName != null">
        voucher_name,
      </if>
      <if test="voucherPar != null">
        voucher_par,
      </if>
      <if test="voucherMore != null">
        voucher_more,
      </if>
      <if test="voucherTime != null">
        voucher_time,
      </if>
      <if test="voucherCreateTime != null">
        voucher_create_time,
      </if>
      <if test="voucherExpiry != null">
        voucher_expiry,
      </if>
      <if test="voucherUse != null">
        voucher_use,
      </if>
      <if test="voucherType != null">
        voucher_type,
      </if>
      <if test="present != null">
        present,
      </if>
      <if test="integration != null">
        integration
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="voucherId != null">
        #{voucherId,jdbcType=INTEGER},
      </if>
      <if test="voucherName != null">
        #{voucherName,jdbcType=VARCHAR},
      </if>
      <if test="voucherPar != null">
        #{voucherPar,jdbcType=INTEGER},
      </if>
      <if test="voucherMore != null">
        #{voucherMore,jdbcType=VARCHAR},
      </if>
      <if test="voucherTime != null">
        #{voucherTime,jdbcType=VARCHAR},
      </if>
      <if test="voucherCreateTime != null">
        #{voucherCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="voucherExpiry != null">
        #{voucherExpiry,jdbcType=VARCHAR},
      </if>
      <if test="voucherUse != null">
        #{voucherUse,jdbcType=VARCHAR},
      </if>
      <if test="voucherType != null">
        #{voucherType,jdbcType=VARCHAR},
      </if>
      <if test="present != null">
        #{present,jdbcType=VARCHAR},
      </if>
      <if test="integration != null">
        #{integration,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.shijijingying.entity.Voucher">
    update voucher
    <set>
      <if test="voucherId != null">
        voucher_id=#{voucherId,jdbcType=INTEGER},
      </if>
      <if test="voucherName != null">
        voucher_name=#{voucherName,jdbcType=VARCHAR},
      </if>
      <if test="voucherPar != null">
        voucher_par=#{voucherPar,jdbcType=INTEGER},
      </if>
      <if test="voucherMore != null">
        voucher_more=#{voucherMore,jdbcType=VARCHAR},
      </if>
      <if test="voucherTime != null">
        voucher_time=#{voucherTime,jdbcType=VARCHAR},
      </if>
      <if test="voucherCreateTime != null">
        voucher_create_time=#{voucherCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="voucherExpiry != null">
        voucher_expiry=#{voucherExpiry,jdbcType=VARCHAR},
      </if>
      <if test="voucherUse!= null">
        voucher_use=#{voucherUse,jdbcType=VARCHAR},
      </if> 
      <if test="voucherType!= null">
        voucher_type=#{voucherType,jdbcType=VARCHAR},
      </if>
      <if test="present!=null">
        present=#{present,jdbcType=VARCHAR},
      </if>
      <if test="integration!=null">
        integration=#{integration,jdbcType=INTEGER}
      </if>
    </set>
    where voucher_id = #{voucherId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.shijijingying.entity.Voucher">
    update voucher
    set voucher_id=#{voucherId,jdbcType=INTEGER},
       voucher_name=#{voucherName,jdbcType=VARCHAR},
      voucher_par=#{voucherPar,jdbcType=INTEGER},
      voucher_more=#{voucherMore,jdbcType=VARCHAR},
       voucher_time=#{voucherTime,jdbcType=VARCHAR},
       voucher_create_time=#{voucherCreateTime,jdbcType=VARCHAR},
         voucher_expiry=#{voucherExpiry,jdbcType=VARCHAR},
         voucher_use=#{voucherUse,jdbcType=VARCHAR},
         voucher_type=#{voucherType,jdbcType=VARCHAR},
         present=#{present,jdbcType=VARCHAR},
         integration=#{integration,jdbcType=INTEGER}
    where voucher_id = #{voucherId,jdbcType=INTEGER}
  </update>
   <select id="selectByExample" parameterType="com.py.shijijingying.entity.Voucher" resultMap="BaseResultMap">
    select
  	<include refid="Base_Column_List" />
    from voucher
    where 1=1
    	<if test="voucherId != null">
       and voucher_id=#{voucherId,jdbcType=INTEGER}
      </if>
      <if test="voucherName != null">
       and voucher_name=#{voucherName,jdbcType=VARCHAR}
      </if>
      <if test="voucherPar != null">
       and voucher_par=#{voucherPar,jdbcType=INTEGER}
      </if>
      <if test="voucherMore != null">
       and voucher_more=#{voucherMore,jdbcType=VARCHAR}
      </if>
      <if test="voucherTime != null">
       and voucher_time=#{voucherTime,jdbcType=VARCHAR}
      </if>
      <if test="voucherCreateTime != null">
        and voucher_create_time=#{voucherCreateTime,jdbcType=VARCHAR}
      </if>
      <if test="voucherExpiry != null">
       and voucher_expiry=#{voucherExpiry,jdbcType=VARCHAR}
      </if>
      <if test="voucherUse != null">
       and voucher_use=#{voucherUse,jdbcType=VARCHAR}
      </if>
      <if test="voucherType != null">
       and voucher_type=#{voucherType,jdbcType=VARCHAR}
      </if>
      <if test="present!=null">
       and present=#{present,jdbcType=VARCHAR}
      </if>
      <if test="integration!=null">
       and integration=#{integration,jdbcType=INTEGER}
      </if>
      order by voucher_id desc
  </select>
  
</mapper>